body {
    margin: 0;
    padding: 0;
    background-color: #626262;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #444;
    color: #fff;
    z-index: 2;
    border-bottom: 1px solid black;

}

h1 {
    padding-left: 20px;
    margin: 3px;
}

h1 a {
    color: white;
    text-decoration: none;
}

#container {
    display: flex;
    flex-grow: 1;
    height: 80%;
}

#leftcontainer {
    background-color: #111;
    width: 10%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#centercontainer {
    background-color: #222;
    flex-grow: 1;
    overflow-y: scroll;
    width: 60%;
    overflow-x: hidden;
}

#rightcontainer {
    background-color: #222;
    width: 25%;
    height: 100%;
}

#leftcontainer a {
    background-color: #222;
    display: block;
    padding: 10px 0 10px 0;
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 150%;
}

#leftcontainer a:hover {
    background-color: #111;
}

#categoryHeader {
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
    background-color: #333;
    font-size: 200%;
    color: #aaa;
}

section {
    margin: -15px 10px 0px 10px;
}

.promptButton {
    background-color: #999;
    color: #111;
    border-radius: 20px;
}

section .promptButton {
    font-size: 200%;
    padding: 2px 5px 2px 5px;
    margin: 0;
    margin-right: 0;
    font-weight: bold;
    border-radius: 20px;
    background-position: center;
    color: #777777;
    background-color: #222;
}

section .promptButton:hover {
    background-color: #090909;
    color: #999;
}

#destination button {
    font-size: 120%;
    border-radius: 20px;
    background-color: #555;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
}

#destination button:hover {
    background-color: #090909;
    color: white;
}

#output {
    width: 100%;
    height: 300px;
    background-color: #000;
    color: #fff;
    overflow-y: scroll;
}

#option {
    text-align: center;
}

#newlinespan {
    color: white;
    user-select: none;
}

#copy {
    width: 100%;
    font-size: 150%;
    color: white;
    background-color: #222;
}

#optionalContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#destination {
    overflow-y: scroll;

    height: 100%;
}

#leftcontainer::-webkit-scrollbar,
#centercontainer::-webkit-scrollbar,
#rightcontainer::-webkit-scrollbar,
#destination::-webkit-scrollbar,
#output::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
}


#textdisplay {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}
footer {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
    border-top: 1px solid black;
}
